#comingsoon{
    color: #000000;
    position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

.spinner-grow{
    color:#6B9B8A;
}

body{
    background-color: #F8F8F6;
}